body {
    height: 100%;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

body .bp3-dark {
    background-color: #2f3437;
}

code {
    color: #0c527e;
    background-color: #dddcdc;

    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.bp3-dark code,
.bp3-dark .bp3-toast-message code {
    color: #59c0ff;
    background-color: #23272c;
}
